<div id="<%= dom_id blog %>">
  <p><strong>Title: </strong><%= blog.title.upcase %></p>
  <span>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</span>
  <p><strong>Body: </strong><%= blog.body %></p>
  <p>Status: <%= link_to blog.status, toggle_status_blog_path(blog) %></p>
  <p><%= link_to "Show this blog", blog %></p>
  <p> <%= link_to "Delete", blog, data: {turbo_method: :delete,
                                         turbo_confirm: 'Are you sure?'} %> </p>
</div>
