<div class="container">
  <div class="row mt-5">
    <div class="col md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main') %>
    </div>
    <div class="col md-5">
      <% if logged_in?(:site_admin) %>
        <div class="btn-group">
          <div class="">
            <%= link_to "Delete Item", portfolio_path(@portfolio_item), class: 'btn btn-danger m-1', data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
          </div>
          <div class="">
            <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning m-1' %>
          </div>
        </div>
      <% end %>
      <h1><%= @portfolio_item.title %></h1>
      <h3><%= @portfolio_item.subtitle %></h3>
      <p><%= @portfolio_item.body %></p>

      <hr>

      <h3>Technologies Used:</h3>
      <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
    </div>
  </div>
</div>


